#hero {
    min-height: 80dvh;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 6%;

    background-image: url("./images/Store/Store Front.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    max-width: 700px;

    padding: 2rem;
    background-color: rgba(15, 18, 18, 0.75);
    color: #f5f5f5;
    border-radius: 8px;
}

.hero-description {
    max-width: 550px;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}